name: Check renovatebot config

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate:
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-check-renovatebot-config.yml@shared-check-renovatebot-config-v1
    with:
      config_file_path: renovatebot/jore4-default-preset.json5
