name: Doctoc

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  verify-doctoc:
    name: Verifies whether table of contents has been updated
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run doctoc on README
        run: npx doctoc README.md

      - name: Verify that doctoc command made no changes, so ToC is up to date
        run: '[ -z "$(git status --porcelain)" ]'
