name: Shared secret scan
# Note: Use this only for the private repositories and
# use the GHAS secret scanning for public ones

on:
  workflow_call:
    inputs:
      send_email_alert:
        description: "Whether to send email alerts"
        type: boolean
        required: false
        default: false
      send_slack_alert:
        description: "Whether to send Slack alerts"
        type: boolean
        required: false
        default: false
    secrets:
      EMAIL_USERNAME:
        description: "Email username for sending alerts"
        required: true
      EMAIL_PASSWORD:
        description: "Email password for sending alerts"
        required: true
      ALERT_EMAIL_RECIPIENT:
        description: "Email address to send alerts to"
        required: false
      ALERT_SLACK_CHANNEL_EMAIL:
        description: "Slack channel email address to send alerts to"
        required: false

permissions:
  contents: read

jobs:
  trufflehog-scan:
    name: Trufflehog Secret Scanning
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@7c0734f987ad0bb30ee8da210773b800ee2016d3 # v3.93.4
        with:
          extra_args: --results=verified,unverified,unknown --exclude-detectors=AWS

  send-alerts:
    name: Send alerts
    needs: trufflehog-scan
    runs-on: ubuntu-24.04
    if: failure()
    strategy:
      matrix:
        include:
          - alert_type: email
            enabled: ${{ inputs.send_email_alert }}
          - alert_type: slack
            enabled: ${{ inputs.send_slack_alert }}
    steps:
      - name: Send ${{ matrix.alert_type }} alert
        if: matrix.enabled
        uses: dawidd6/action-send-mail@62a2d05b79935ad4fb90ce9079928099579c14ac # v9
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "Secrets found in ${{ github.repository }}!"
          to: ${{ matrix.alert_type == 'email' && secrets.ALERT_EMAIL_RECIPIENT || secrets.ALERT_SLACK_CHANNEL_EMAIL }}
          from: ${{ secrets.EMAIL_USERNAME }}
          body: |
            Trufflehog has detected potential secrets in the repository ${{ github.repository }}!
            Please review the scan results in the GitHub Actions logs ASAP and take appropriate action.
