name: Shared check renovatebot config

on:
  workflow_call:
    inputs:
      config_file_path:
        description: Path to the Renovatebot config file to validate
        type: string
        required: true
      checkout_submodules:
        description: Whether to checkout submodules
        type: string
        required: false
        default: "false"

permissions:
  contents: read

jobs:
  validate:
    name: Validate renovatebot config
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: ${{ inputs.checkout_submodules }}

      - name: Validate config
        uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0
        with:
          config_file_path: ${{ inputs.config_file_path }}
